* {
	margin:0;
	padding:0;
	list-style:none;
	vertical-align:baseline;
}

h1,h2,h3,h4,h5,p,blockquote,cite,span,input,textarea,select,a,li,label {
	font-family: 'Open Sans',sans-serif;
	color: #333;
}
/* ----------------------------- */
/* ALL */
/* ----------------------------- */

input[type="text"] {
	height: 50px;
}

input, textarea {
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	border: 1px solid #ccc;
	outline: 0;
	padding-left: 20px;
	width: 100%;
}

input:focus, textarea:focus {
	border-color: #f39f35;
}

.mobile-wrap {	
	margin: 0 auto;
	overflow: hidden;
	width: 640px;
}

.img-replace {
	text-indent: -999em;
	overflow: hidden;
}

.clearfix {
	zoom: 1;
}

.clearfix:before {
	content: "";
	display: table;
}

.clearfix:after {
	content: "";
	clear: both;
	display: table;
} 

.info-hide {
	display: none;
}

/* ----------------------------- */
/* PÁGINA LOGIN */
/* ----------------------------- */
.login-bg {
/*	width: 640px;
	height: 1008px;*/
	background: url(../img/login-bg.jpg) center center no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 100%;
	width: 100%;
	clear: both;
	display: table;
}

.login .logo {
	display: block;
	margin: 47px auto 0px;
}

.login .login-box {
  background: #fff;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  box-shadow: 0 0 3px -1px #000;
  -webkit-box-shadow: 0 0 3px -1px #000;
  -moz-box-shadow: 0 0 3px -1px #000;
  -ms-box-shadow: 0 0 3px -1px #000;
  -o-box-shadow: 0 0 3px -1px #000;
  margin: 130px auto 0px;
  padding: 35px;
  width: 350px;
  height: 312px;
}

.login .login-box h2 {
	font-size: 28px;
	text-align: center;
}

.login .login-box p {
	font-size: 16px;
	text-align: center;
	margin-top: 40px;
}

.login .login-box .btn-loginfb {
	background: url(../img/fb-login.png) no-repeat;
	width: 212px;
	height: 68px;
	display: block;
	overflow: hidden;
	text-indent: -999em;
	margin: 45px auto 0;
}

.login .login-box .saiba-mais {
	font-size: 14px;
	text-align: center;
	display: block;
	margin-top: 60px;
}

.login .login-box .saiba-mais a {
	color: #f39f35;
	margin-left: 10px;
}



/* MINIBAR */
.minibar {
	height: 70px;
	background: #666;
	position: relative;
	background: #fff;
	border-bottom: 5px solid #f39f35;
}

.minibar .minibar-logo {
	display: inline-block;
	width: 140px;
	height: 53px;
	margin-left: 50px;
	margin-top: 9px;
}

.minibar .btn-sidebar {
	width: 77px;
	height: 70px;
	background: url(../img/btn-sidemenu.jpg) no-repeat;
	position: absolute;
	top: 0px;
	right: 0px;
}


/* SideBar */
.minibar .sidebar {
	width: 300px;
	background: #333333;
	position: absolute;
	height: 1008px;
	right: -300px;
	top: 0px;
	z-index: 3;
}

.minibar .sidebar .foto {
	display: block;
	width: 300px;
	height: 204px;
	margin: 75px auto 0;
}

.minibar .sidebar .foto .foto-mask {
	display: block;
	width: 300px;
	height: 204px;
	background: url(../img/mascara-foto-perfil.png) no-repeat;
}

.minibar .sidebar .nome {
	font-size: 22px;
	color: #ffffff;
	text-align: center;
	margin-top: 22px;
	margin-bottom: 8px;
}

.minibar .sidebar .email {
	font-size: 14px;
	color: #ffffff;
	text-align: center;
}

.minibar .sidebar .separador {
	display: block;
	width: 220px;
	height: 1px;
	background: #cccccc;
	margin: 28px auto 0px;
}

.minibar .sidebar ul {
	margin-top: 28px;
}


.minibar .sidebar ul .itens-menu {
	display: block;
	background: #434343;
	font-size: 18px;
	/*border-top: 1px solid #cccccc;*/
}

.minibar .sidebar ul .itens-menu a {
	color: #ffffff;
	text-decoration: none;
	padding: 18px 0px 18px 60px;
	display: block;
	font-size: 25px;
	letter-spacing: -0.5px;
	margin-bottom: 1px;
}

	.minibar .sidebar ul .sair {
		/*background: url(../img/sair-icon.png) 26px 22px no-repeat #252525;*/
	}
	.minibar .sidebar ul .sair a {
		color: #a3a3a3;
	}
	
.minibar .sidebar .logo-legenda {
	display: block;
	margin: 110px auto 0px;
}

.minibar .sideout {
	display: block;
	height: 1008px;
	width: 340px;
	position: absolute;
	top: 0px;
	left: 0px;	
	display: none;
	z-index: 3;
	cursor: pointer;
}

/* ----------------------------- */
/* HOME */
/* ----------------------------- */
.home {
	width: 640px;
	height: 1008px;
	margin: 0 auto;
}

/* Minhas Historias */
.home .minhashistorias {
	padding: 25px 50px 20px;
	overflow: hidden;
	background: #eee;
}

.home .minhashistorias  h1 {
	font-size: 25px;
	margin-bottom: 20px;
	text-align: center;
}

.home .minhashistorias .line-wrap {
	display: table;
	clear: both;
	margin: 0px auto 10px;
}

.home .minhashistorias .line-wrap .nao-participando {
	text-align: center;
}

.home .minhashistorias .line-wrap .nao-participando a {
	color: #f39f35;
}

.home .minhashistorias .historia-andamento {
	width: 150px;
	display: block;
	float: left;
	margin-right: 30px;
	cursor: pointer;
}

.home .minhashistorias .historia-andamento .historiaclick {
	display: block;
	text-decoration: none;
}

.home .minhashistorias .historia-andamento .historia-thumb {
	width: 150px;
	height: 150px;
}

.home .minhashistorias .historia-andamento .historia-thumb .mask {
	background: url(../img/mascara-historias-thumb.png) no-repeat;
	display: block;
	width: 100%;
	height: 100%;
}

.home .minhashistorias .historia-andamento .historia-infos {
	overflow: hidden;
}

.home .minhashistorias .historia-andamento .historia-infos .titulo {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	width: 150px;
}

.home .minhashistorias .historia-andamento .historia-infos .genero {
	font-size: 18px;
	text-align: center;
}

/* Nova Historia Thumb */
.home .minhashistorias .historia-andamento .nova-historia-thumb {
	background: url(../img/nova-historia-thumb.jpg) no-repeat center;
	display: block;
}

/* BTN ver todas */
.home .minhashistorias .btn-ver-todas {
	display: block;
	background: url(../img/btn-ver-todas.png) no-repeat;
	width: 180px;
	height: 50px;
	text-indent: -999em;
	overflow: hidden;
	margin: 20px auto 0px
}


/* CALL-TO-ACTION - Crie uma história */
.home .call-criar {
	height: 100px;
	background: #333;
	padding: 25px 30px 25px 30px;
	overflow: hidden;
}

.home .call-criar .left {
	display: inline-block;
	float: left;
}

.home .call-criar h2 {
	color: #f0f0f0;
	font-size: 20px;
	width: 340px;
}

.home .call-criar p {
	width: 330px;
	display: inline-block;
	color: #f0f0f0;
	font-size: 14px;
	margin-top: 13px;
}

.home .call-criar a {
	background-color: #f39f35;
	display: inline-block;
	margin: 24px 0px 0px 15px;
	padding: 14px 49px;
	text-decoration: none;
	cursor: pointer;
	color: #fff;
	text-align: center;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
}

/* Histórias mais votadas */
.home .mais-votadas {
	padding: 20px 30px 20px 50px;
}

.home .mais-votadas h1 {
	font-size: 25px;
	text-align: center;
}

.home .mais-votadas .historia-lista {
	position: relative;
	display: table;
	clear: both;
	width: 100%;
	margin-top: 40px;
}

.home .mais-votadas .historia-lista .img-lista {
	display: inline-block;
	float: left;
	margin: 0px 10px 0px -24px;
} 

.home .mais-votadas .historia-lista .img-lista .mask {

}

.home .mais-votadas .historia-lista .infos {
	display: inline-block;
	float: left;
}

.home .mais-votadas .historia-lista .infos h3 {
	font-size: 18px;
	color: #f39f35;
	width: 290px;
	margin-bottom: 5px;
}

.home .mais-votadas .historia-lista .infos .btn-ler-historia {
	background-color: #f39f35;
	display: inline-block;
	padding: 14px 49px;
	text-decoration: none;
	cursor: pointer;
	color: #fff;
	text-align: center;
	-webkit-border-radius: 7px;
	position: absolute;
	bottom: 14px;
	right: 0px;
}

/* ----------------------------- */
/* NOVA HISTÓRIA */
/* ----------------------------- */
.nova-historia {
	height: 1008px;
}

.nova-historia .titulo {
	margin-top: 30px;
	text-align: center;
	font-size: 30px;
}

.nova-historia .subtitulo {
	text-align: center;
	margin-top: 10px;
	font-size: 18px;
}

.nova-historia .criar-wrap {
	overflow: hidden;
	background: #efe7db;
	height: 100%;
}

.nova-historia .criar-wrap .box-criar-historia {
	display: table;
	clear: both;
	box-sizing: border-box;
	background: #fff;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	box-shadow: 0 0 3px -1px #000;
	-webkit-box-shadow: 0 0 3px -1px #000;
	-moz-box-shadow: 0 0 3px -1px #000;
	-ms-box-shadow: 0 0 3px -1px #000;
	-o-box-shadow: 0 0 3px -1px #000;
	margin: 30px auto 50px;
	padding: 25px;
	width: 500px;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

/* INPUT NOME HISTÓRIA */
.nova-historia .criar-wrap .box-criar-historia input[type="text"] {
	height: 60px;
	font-size: 16px;
}

.nova-historia .criar-wrap .box-criar-historia .desc-input {
	font-size: 14px;
	font-style: italic;
	color: #666;
	margin: 10px 0px;
}

/* SELECT CATEGORIA */
.nova-historia .criar-wrap .box-criar-historia .selecione-cat {
	background: url(../img/select-arrow.png) 93% top no-repeat;
	border: 1px solid #ccc;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	color: #a6a6a6;
	cursor: pointer;
	display: block;
	height: 60px;
	margin-top: 20px;
	padding-left: 20px;
	padding-top: 17px;
	transition: all .2s cubic-bezier(0.175,0.885,0.32,3);
	-webkit-transition: all .2s cubic-bezier(0.175,0.885,0.32,3);
	-moz-transition: all .2s cubic-bezier(0.175,0.885,0.32,3);
	-ms-transition: all .2s cubic-bezier(0.175,0.885,0.32,3);
	-o-transition: all .2s cubic-bezier(0.175,0.885,0.32,3);
	width: 100%;
	box-sizing: border-box;
}

.nova-historia .criar-wrap .box-criar-historia .selecione-cat.active {
	background-color: #f39f35;
	background-position: 93% bottom;
	color: #fff;
}

.nova-historia .criar-wrap .box-criar-historia .fake-select {
	background: #ccc;
	height: 0;
	overflow: hidden;
	transition: all .3s cubic-bezier(0.19,1,0.22,1);
	-webkit-transition: all .3s cubic-bezier(0.19,1,0.22,1);
	-moz-transition: all .3s cubic-bezier(0.19,1,0.22,1);
	-ms-transition: all .3s cubic-bezier(0.19,1,0.22,1);
	-o-transition: all .3s cubic-bezier(0.19,1,0.22,1);
}

.nova-historia .criar-wrap .box-criar-historia .fake-select.open {
	height: 360px;
}

.nova-historia .criar-wrap .box-criar-historia .fake-select li {
	box-sizing: border-box;
	background: #f39f35;
	color: #fff;
	height: 60px;
	cursor: pointer;
	padding: 20px 20px 0;
	transition: all .2s cubic-bezier(0.175,0.885,0.32,3);
	-webkit-transition: all .2s cubic-bezier(0.175,0.885,0.32,3);
	-moz-transition: all .2s cubic-bezier(0.175,0.885,0.32,3);
	-ms-transition: all .2s cubic-bezier(0.175,0.885,0.32,3);
	-o-transition: all .2s cubic-bezier(0.175,0.885,0.32,3);
	border-bottom: 1px solid #fff;
}

/* NUM JOGADORES */
.nova-historia .criar-wrap .box-criar-historia .jogadores-titulo {
	font-weight: 400;
	margin-bottom: 20px;
}

.nova-historia .criar-wrap .box-criar-historia .radios {
	margin-top: 20px;
}

.nova-historia .criar-wrap .box-criar-historia .radios label {
	cursor: pointer;
	font-size: 15px;
	margin-right: 25px;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.nova-historia .criar-wrap .box-criar-historia .radios label.selected {
	color: #f39f35;
	font-weight: 700;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.nova-historia .criar-wrap .box-criar-historia input[type="radio"] {
	width: auto;
}

.nova-historia .criar-wrap .box-criar-historia .radios input {
	margin-right: 5px;
}

/* BTN CRIAR */
.nova-historia .criar-wrap .box-criar-historia .btn-criar {
	background-color: #f39f35;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	cursor: pointer;
	color: #fff;
	padding: 10px 50px;
	text-align: center;
	transition: all .2s cubic-bezier(0.175,0.885,0.32,3);
	-webkit-transition: all .2s cubic-bezier(0.175,0.885,0.32,3);
	-moz-transition: all .2s cubic-bezier(0.175,0.885,0.32,3);
	-ms-transition: all .2s cubic-bezier(0.175,0.885,0.32,3);
	-o-transition: all .2s cubic-bezier(0.175,0.885,0.32,3);
	float: right;
	margin-top: 30px;
}


/* ----------------------------- */
/* HISTÓRIA CRIADA */
/* ----------------------------- */
.historia-criada {
	height: 1008px;
}

.historia-criada .banner {
	display: block;
	width: 100%;
	height: 240px;
	position: relative;
}

.historia-criada .banner .dados {
	display: block;
	width: 340px;
	height: auto;
	padding: 10px 10px;
	background-color: #f39f35;
	text-align: center;
	position: absolute;
	bottom: 0px;
	left: 154px;

	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
}

.historia-criada .banner .dados h2 {
	color: #333;
	font-weight: 600;
	font-size: 25px;
}

.historia-criada .banner .dados {
	color: #333;
	font-size: 20px;
}

.historia-criada .infos {
	display: block;
	width: 100%;
	height: 80px;
	background: #222222;
	clear: both;
	display: table;
	position: relative;
}

/* BTN Config Hist */
.historia-criada .infos .btn-config {
	display: inline-block;
	width: 358px;
	height: 80px;
	float: left;
}

.historia-criada .infos .btn-config .action-config {
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	text-decoration: none;
}

.historia-criada .infos .btn-config .action-config p {
	display: block;
	background: url(../img/config-icon.png) no-repeat 30px 8px;
	font-size: 20px;
	font-weight: 600;
	color: #f0f0f0;
	border-right: 1px solid #f39f35;
	padding: 8px 0px 8px 82px;
	margin-top: 17px;
}

.historia-criada .infos .btn-config .dropdown {
	background: #333333;
	display: block;
	position: relative;
	z-index: 2;
	padding-top: 1px;
	display: none;
}

.historia-criada .infos .btn-config .dropdown li {
	background: #222222;
	margin-bottom: 1px;
}

.historia-criada .infos .btn-config .dropdown li a {
	color: #f0f0f0;
	text-decoration: none;
	font-size: 25px;
	display: block;
	padding: 18px 0px 18px 50px;
	overflow: hidden;
}

.historia-criada .infos .box-convidar-amigos {
	display: none;
	position: absolute;
	width: 538px;
	z-index: 1;
	background: #f0f0f0;
	padding: 50px;
	top: 80px;
	left: 0px;
	border: 1px solid #333;
	-webkit-border-bottom-right-radius: 7px;
	-webkit-border-bottom-left-radius: 7px;
	-moz-border-radius-bottomright: 7px;
	-moz-border-radius-bottomleft: 7px;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
}

.historia-criada .infos .box-convidar-amigos #email-convidado {
	margin: 10px 0px 20px 0px;
}

.historia-criada .infos .box-convidar-amigos .btn-wrap, .historia-criada .infos .box-convidar-amigos-sucesso .btn-wrap {
	display: table;
	clear: both;
	margin: 0 auto;
}

.historia-criada .infos .box-convidar-amigos .btn-wrap a, .historia-criada .infos .box-convidar-amigos-sucesso .btn-wrap a {
	background-color: #f39f35;
	display: inline-block;
	padding: 14px 49px;
	text-decoration: none;
	cursor: pointer;
	color: #fff;
	text-align: center;
	-webkit-border-radius: 7px;
	float: left;
}

.historia-criada .infos .box-convidar-amigos .btn-wrap .btn-fechar-convidar {
	margin-right: 100px;
}

.historia-criada .infos .box-convidar-amigos-sucesso {
	display: none;
	position: absolute;
	width: 538px;
	z-index: 1;
	background: #f0f0f0;
	padding: 50px;
	top: 80px;
	left: 0px;
	border: 1px solid #333;
	-webkit-border-bottom-right-radius: 7px;
	-webkit-border-bottom-left-radius: 7px;
	-moz-border-radius-bottomright: 7px;
	-moz-border-radius-bottomleft: 7px;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
}

.historia-criada .infos .box-convidar-amigos-sucesso .texto-sucesso {
	color: #f39f35;
	text-align: center;
	margin-bottom: 10px;
}

.historia-criada .infos .box-convidar-amigos-sucesso #url-sucesso {
	margin: 10px 0px 20px 0px;
}


/* Hist Infos */

.historia-criada .infos .info-rodada {
	display: inline-block;
	float: left;
	position: relative;
}

.historia-criada .infos .info-rodada p {
	font-size: 16px;
	font-weight: 600;
	color: #f0f0f0;
	margin: 28px 0px 0px 40px;
}

.historia-criada .infos .info-rodada p span {
	color: #f39f35;
}

.historia-criada .infos .info-rodada img.mini-icon-genero {
	position: absolute;
	top: 2px;
	right: -118px;
}

/* Intro História */
.historia-criada .introducao {
	padding: 0px 50px;
	position: relative;
}

.historia-criada .introducao .base {
	text-align: center;
	font-weight: 600;
	color: #f39f35;
	font-size: 14px;
	padding: 20px 0px;
	border-bottom: 1px dotted #f39f35;
}

.historia-criada .introducao .regras {
	font-weight: 600;
	font-size: 14px;
	text-align: center;
	margin: 10px 0px 20px 0px;
}
.historia-criada .introducao .regras span {
	color: #f39f35;
}

.historia-criada .introducao .regras .min-carac.error {
	color: #f33535;
	font-size: 16px;
	font-weight: bold;
}

.historia-criada .introducao textarea {
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	display: block;
	font-size: 14px;
	height: 280px;
	margin: 0 auto;
	padding: 20px;
	position: relative;
	resize: none;
	width: 540px;
}

.historia-criada .introducao textarea.error {
	border-color: #f33535;
}

.historia-criada .introducao .btn-salvar {
	background-color: #f39f35;
	display: block;
	width: 48px;
	margin: 10px auto 0px;
	padding: 10px 50px;
	text-align: center;
	cursor: pointer;
	color: #fff;
	border-radius: 7px;
	text-decoration: none;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;	
}

.historia-criada .introducao .contador-caracteres {
	position: absolute;
	display: block;
	bottom: 23px;
	right: 51px;
	color: #f39f35;
	text-align: right;
}


/* História Visualização */
.historia-criada  .contadapor {
	background: url(../img/autor-icon.png) left center no-repeat;
	padding-left: 30px;
	font-size: 14px;
	margin: 10px 0px 10px 20px;
}

.historia-criada .textointro {
	text-align: center;
	font-weight: 600;
	color: #f39f35;
	font-size: 14px;
	padding: 20px 0px;
	border-top: 1px dotted #f39f35;
	border-bottom: 1px dotted #f39f35;
	margin-bottom: 20px;
}

.historia-criada .trechohistoria {
	margin-bottom: 20px;
}

.historia-criada .trechohistoria .textotrecho {
	padding: 0 20px;
}

.historia-criada .trechohistoria .clickinfos {
	font-size: 14px;
	text-align: right;
	margin-top: 10px;
	padding-right: 20px;
}

.historia-criada .trechohistoria .clickinfos a {
	color: #b2b2b2;
	margin-right: 10px;
}

.historia-criada .trechohistoria .infos-cont {
	width: 100%;
	background: #e8e8e8;
	padding: 10px 20px;
	position: relative;
	display: none;
	clear: both;
}

.historia-criada .trechohistoria .infos-cont p {
	font-size: 14px;
	margin-bottom: 10px;
}

.historia-criada .trechohistoria .infos-cont a {
	margin-right: 50px;
	font-size: 14px;
}

.historia-criada .trechohistoria .infos-cont .mask {
	background: #000;
	 display: none; 
	height: 100%;
	opacity: 0.7;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 999;
}

.historia-criada .trechohistoria .infos-cont .box-desafio {
	display: none;
	background: #fff;
	width: 500px;
	position: fixed;
	top: 35%;
	left: 35px;
	padding: 30px;
	z-index: 9999;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	box-shadow: 0 0 3px -1px #000;
	-webkit-box-shadow: 0 0 3px -1px #000;
	-moz-box-shadow: 0 0 3px -1px #000;
	-ms-box-shadow: 0 0 3px -1px #000;
	-o-box-shadow: 0 0 3px -1px #000;
}

.historia-criada .trechohistoria .infos-cont .box-desafio h3 {
	text-align: center;
}

.historia-criada .trechohistoria .infos-cont .box-desafio .destaque {
	border-top: 1px dotted #f39f35;
	border-bottom: 1px dotted #f39f35;
	color: #e7870e;
	margin: 30px;
	padding: 20px 0;
	text-align: center;
}

.historia-criada .novo-trecho-wrap {
	display: block;
	/*background: #eee;*/
	padding: 20px 0px;
	text-align: center;
	margin-top: 20px;
}

.historia-criada .novo-trecho-wrap .adicionar-novo-trecho {
	background-color: #f39f35;
	display: inline-block;
	padding: 14px 49px;
	text-decoration: none;
	cursor: pointer;
	color: #fff;
	text-align: center;
	-webkit-border-radius: 7px;
}




/* ----------------------------- */
/* ADICIONAR NOVO TRECHO - adicionar-novo-trecho.php */
/* ----------------------------- */
.historia-criada .introducao .btns-wrap {
	text-align: center;
}

.historia-criada .introducao .btns-wrap .btn-salvar-novo-trecho {
	background-color: #f39f35;
	display: inline-block;
	width: 48px;
	margin: 10px 10px 0px 10px;
	padding: 10px 50px;
	text-align: center;
	cursor: pointer;
	color: #fff;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;	
	text-decoration: none;
}

.historia-criada .introducao .btns-wrap .btn-salvar-voltar {
	background-color: #f39f35;
	display: inline-block;
	width: 48px;
	margin: 10px 10px 0px 10px;
	padding: 10px 50px;
	text-align: center;
	cursor: pointer;
	color: #fff;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;	
	text-decoration: none;
}



/* ----------------------------- */
/* COMO FUNCIONA */
/* ----------------------------- */

.como-funciona {
	height: 1008px;
	background: url(../img/bg-como-funciona.jpg) no-repeat;
}

.como-funciona  .menu-navegacao {
	padding: 20px;
	background: #333333;
	display: table;
	clear: both;
}

.como-funciona  .menu-navegacao li {
	width: 150px;
	height: 91px;
	float: left;
	display: inline-block;
	background: url(../img/sprite-menu-como-funciona.png) no-repeat;
}

.como-funciona  .menu-navegacao li a {
	display: block;
	height: 100%;
}

.como-funciona  .menu-navegacao li.ativo, .como-funciona  .menu-navegacao li:hover {
	background-color: #4c4c4c;
}

.como-funciona  .menu-navegacao li.cadastre {

}

.como-funciona  .menu-navegacao li.criar {
	background-position: -150px 0px;	
}

.como-funciona  .menu-navegacao li.realize {
	background-position: -300px 0px;
}

.como-funciona  .menu-navegacao li.conte {
	background-position: -450px 0px;
}

.como-funciona h2 {
	font-size: 30px;
	font-weight: 600;
	color: #fff;
	text-align: center;
	margin: 20px 0px 40px 0px;
}

.como-funciona .tabs-wrap {
	padding: 0px 50px;
}

.como-funciona .tabs-wrap .tab .titulo {
	display: table;
	clear: both;
	margin-bottom: 50px;
}

.como-funciona .tabs-wrap .tab .titulo h3 {
	font-size: 35px;
	font-weight: bold;
	color: #fff;
	display: inline-block;
	float: left;
	margin: 15px 0px 0px 20px;
}
.como-funciona .tabs-wrap .tab .titulo span {
	background: url(../img/sprite-numeracao.png) no-repeat;
	display: inline-block;
	width: 92px;
	height: 80px;
	float: left;
}

	.como-funciona .tabs-wrap .tab-criar .titulo span { background-position: -100px 0px ;}
	.como-funciona .tabs-wrap .tab-realize .titulo span { background-position: -202px 0px ;}
	.como-funciona .tabs-wrap .tab-conte .titulo span { background-position: -304px 0px ;}

.como-funciona .tabs-wrap .tab p {
	font-size: 18px;
	color: #fff;
}

.como-funciona .btn-wrap {
	text-align: center;
}

.como-funciona .btn-wrap .voltar-como-funciona {
	background-color: #333;
	display: inline-block;
	padding: 14px 49px;
	text-decoration: none;
	cursor: pointer;
	color: #fff;
	text-align: center;
	-webkit-border-radius: 7px;
	margin: 80px auto 0px;
}

.como-funciona .logo {
	display: block;
	margin: 170px auto 0px;
}

/* IMPORTANT */
.historia-semaltura {
	height: auto;
	min-height: 1008px;
}