* {
	margin:0;
	padding:0;
	list-style:none;
	vertical-align:baseline;
}

h1,h2,h3,h4,h5,p,blockquote,cite,span,input,textarea,select,a,li,label {
	font-family: 'Open Sans',sans-serif;
	color: #333;
}
/* ----------------------------- */
/* ALL */
/* ----------------------------- */

input[type="text"] {
	height: 50px;
}

input {
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	border: 1px solid #ccc;
	outline: 0;
	padding-left: 20px;
	width: 100%;
}

.mobile-wrap {	
	margin: 0 auto;
	overflow: hidden;
	width: 640px;
}

.img-replace {
	text-indent: -999em;
	overflow: hidden;
}


/* ----------------------------- */
/* PÁGINA LOGIN */
/* ----------------------------- */
.login-bg {
/*	width: 640px;
	height: 1008px;*/
	background: url(../img/login-bg.jpg) center center no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 100%;
	width: 100%;
	clear: both;
	display: table;
}

.login .logo {
	display: block;
	margin: 47px auto 0px;
}

.login .login-box {
  background: #fff;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  box-shadow: 0 0 3px -1px #000;
  -webkit-box-shadow: 0 0 3px -1px #000;
  -moz-box-shadow: 0 0 3px -1px #000;
  -ms-box-shadow: 0 0 3px -1px #000;
  -o-box-shadow: 0 0 3px -1px #000;
  margin: 130px auto 0px;
  padding: 35px;
  width: 350px;
  height: 362px;
}

.login .login-box h2 {
	font-size: 25px;
	text-align: center;
}

.login .login-box p {
	font-size: 16px;
	text-align: center;
	margin-top: 40px;
}

.login .login-box .btn-loginfb {
	background: url(../img/fb-login.png) no-repeat;
	width: 212px;
	height: 68px;
	display: block;
	overflow: hidden;
	text-indent: -999em;
	margin: 55px auto 0;
}

.login .login-box .saiba-mais {
	font-size: 16px;
	color: #f39f35;
	text-align: right;
	display: block;
	margin-top: 70px;
}



/* MINIBAR */
.minibar {
	height: 70px;
	background: #666;
	position: relative;
	background: #fff;
	border-bottom: 5px solid #f39f35;
}

.minibar .minibar-logo {
	display: inline-block;
	width: 140px;
	height: 53px;
	margin-left: 50px;
	margin-top: 9px;
}

.minibar .btn-sidebar {
	width: 77px;
	height: 70px;
	background: url(../img/btn-sidemenu.jpg) no-repeat;
	position: absolute;
	top: 0px;
	right: 0px;
}


/* SideBar */
.minibar .sidebar {
	width: 300px;
	background: #333333;
	position: absolute;
	height: 1008px;
	right: -300px;
	top: 0px;
}

.minibar .sidebar .foto {
	display: block;
	width: 300px;
	height: 204px;
	margin: 75px auto 0;
}

.minibar .sidebar .foto .foto-mask {
	display: block;
	width: 300px;
	height: 204px;
	background: url(../img/mascara-foto-perfil.png) no-repeat;
}

.minibar .sidebar .nome {
	font-size: 22px;
	color: #ffffff;
	text-align: center;
	margin-top: 22px;
	margin-bottom: 8px;
}

.minibar .sidebar .email {
	font-size: 14px;
	color: #ffffff;
	text-align: center;
}

.minibar .sidebar .separador {
	display: block;
	width: 220px;
	height: 1px;
	background: #cccccc;
	margin: 28px auto 0px;
}

.minibar .sidebar ul {
	margin-top: 28px;
}


.minibar .sidebar ul .itens-menu {
	display: block;
	background: #434343;
	font-size: 18px;
	/*border-top: 1px solid #cccccc;*/
}

.minibar .sidebar ul .itens-menu a {
	color: #ffffff;
	text-decoration: none;
	padding: 20px 0px 20px 60px;
	display: block;
	font-size: 17px;
	margin-bottom: 1px;
}

	.minibar .sidebar ul .sair {
		background: url(../img/sair-icon.png) 26px 17px no-repeat #252525;
	}
	.minibar .sidebar ul .sair a {
		color: #a3a3a3;
	}
	
.minibar .sidebar .logo-legenda {
	display: block;
	margin: 130px auto 0px;
}

.minibar .sideout {
	display: block;
	height: 1008px;
	width: 340px;
	position: absolute;
	top: 0px;
	left: 0px;	
	display: none;
}

/* ----------------------------- */
/* HOME */
/* ----------------------------- */
.home {
	width: 640px;
	height: 1008px;
	margin: 0 auto;
}

/* Minhas Historias */
.home .minhashistorias {
	clear: both;
	display: table;
}

.home .minhashistorias .historia-thumb {
	width: 150px;
	height: 150px;
	display: inline-block;
	float: left;
}

.home .minhashistorias .historia-thumb .historia-link {
	display: block;
	height: 100%;
	background: #bbb;
}

/* ----------------------------- */
/* HOME */
/* ----------------------------- */
.nova-historia {
	height: 1008px;
}

.nova-historia .titulo {
	margin-top: 50px;
	text-align: center;
	font-size: 40px;
}

.nova-historia .subtitulo {
	text-align: center;
	margin-top: 20px;
	font-size: 18px;
}

.nova-historia .criar-wrap {
	overflow: hidden;
	background: #efe7db;
}

.nova-historia .criar-wrap .box-criar-historia {
	display: table;
	clear: both;
	box-sizing: border-box;
	background: #fff;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	box-shadow: 0 0 3px -1px #000;
	-webkit-box-shadow: 0 0 3px -1px #000;
	-moz-box-shadow: 0 0 3px -1px #000;
	-ms-box-shadow: 0 0 3px -1px #000;
	-o-box-shadow: 0 0 3px -1px #000;
	margin: 70px auto 50px;
	padding: 35px;
	width: 500px;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

/* INPUT NOME HISTÓRIA */
.nova-historia .criar-wrap .box-criar-historia input[type="text"] {
	height: 60px;
	font-size: 16px;
}

.nova-historia .criar-wrap .box-criar-historia .desc-input {
	font-size: 14px;
	font-style: italic;
	color: #666;
	margin: 10px 0px;
}

/* SELECT CATEGORIA */
.nova-historia .criar-wrap .box-criar-historia .selecione-cat {
	background: url(../img/select-arrow.png) 93% top no-repeat;
	border: 1px solid #ccc;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	color: #a6a6a6;
	cursor: pointer;
	display: block;
	height: 60px;
	margin-top: 30px;
	padding-left: 20px;
	padding-top: 17px;
	transition: all .2s cubic-bezier(0.175,0.885,0.32,3);
	-webkit-transition: all .2s cubic-bezier(0.175,0.885,0.32,3);
	-moz-transition: all .2s cubic-bezier(0.175,0.885,0.32,3);
	-ms-transition: all .2s cubic-bezier(0.175,0.885,0.32,3);
	-o-transition: all .2s cubic-bezier(0.175,0.885,0.32,3);
	width: 100%;
	box-sizing: border-box;
}

.nova-historia .criar-wrap .box-criar-historia .selecione-cat.active {
	background-color: #f39f35;
	background-position: 93% bottom;
	color: #fff;
}

.nova-historia .criar-wrap .box-criar-historia .fake-select {
	background: #ccc;
	height: 0;
	overflow: hidden;
	transition: all .3s cubic-bezier(0.19,1,0.22,1);
	-webkit-transition: all .3s cubic-bezier(0.19,1,0.22,1);
	-moz-transition: all .3s cubic-bezier(0.19,1,0.22,1);
	-ms-transition: all .3s cubic-bezier(0.19,1,0.22,1);
	-o-transition: all .3s cubic-bezier(0.19,1,0.22,1);
	width: 430px;
}

.nova-historia .criar-wrap .box-criar-historia .fake-select.open {
	height: 360px;
}

.nova-historia .criar-wrap .box-criar-historia .fake-select li {
	box-sizing: border-box;
	background: #f39f35;
	color: #fff;
	height: 60px;
	cursor: pointer;
	padding: 20px 20px 0;
	transition: all .2s cubic-bezier(0.175,0.885,0.32,3);
	-webkit-transition: all .2s cubic-bezier(0.175,0.885,0.32,3);
	-moz-transition: all .2s cubic-bezier(0.175,0.885,0.32,3);
	-ms-transition: all .2s cubic-bezier(0.175,0.885,0.32,3);
	-o-transition: all .2s cubic-bezier(0.175,0.885,0.32,3);
	border-bottom: 1px solid #fff;
}

/* NUM JOGADORES */
.nova-historia .criar-wrap .box-criar-historia .jogadores-titulo {
	font-weight: 400;
	margin-bottom: 20px;
}

.nova-historia .criar-wrap .box-criar-historia .radios {
	margin-top: 20px;
}

.nova-historia .criar-wrap .box-criar-historia .radios label {
	cursor: pointer;
	font-size: 15px;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.nova-historia .criar-wrap .box-criar-historia .radios label.selected {
	color: #f39f35;
	font-weight: 700;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.nova-historia .criar-wrap .box-criar-historia input[type="radio"] {
	width: auto;
}

.nova-historia .criar-wrap .box-criar-historia .radios input {
	margin-right: 40px;
}

/* BTN CRIAR */
.nova-historia .criar-wrap .box-criar-historia .btn-criar {
	background-color: #f39f35;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	cursor: pointer;
	color: #fff;
	padding: 10px 50px;
	text-align: center;
	transition: all .2s cubic-bezier(0.175,0.885,0.32,3);
	-webkit-transition: all .2s cubic-bezier(0.175,0.885,0.32,3);
	-moz-transition: all .2s cubic-bezier(0.175,0.885,0.32,3);
	-ms-transition: all .2s cubic-bezier(0.175,0.885,0.32,3);
	-o-transition: all .2s cubic-bezier(0.175,0.885,0.32,3);
	float: right;
	margin-top: 30px;
}


/* ----------------------------- */
/* HISTÓRIA CRIADA */
/* ----------------------------- */
.historia-criada {
	height: 1008px;
}
