* {
	margin:0;
	padding:0;
	list-style:none;
	vertical-align:baseline;
}

h1,h2,h3,h4,h5,p,blockquote,cite,span,input,textarea,select,a,li {
	font-family: 'Open Sans',sans-serif;
	color: #333;
}
/* ----------------------------- */
/* ALL */
/* ----------------------------- */
.mobile-wrap {	
	margin: 0 auto;
	overflow: hidden;
	width: 640px;
}

.img-replace {
	text-indent: -999em;
	overflow: hidden;
}


/* ----------------------------- */
/* PÁGINA LOGIN */
/* ----------------------------- */
.login-bg {
/*	width: 640px;
	height: 1008px;*/
	background: url(../img/login-bg.jpg) center center no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 100%;
	width: 100%;
	clear: both;
	display: table;
}

.login .logo {
	display: block;
	margin: 47px auto 0px;
}

.login .login-box {
  background: #fff;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  box-shadow: 0 0 3px -1px #000;
  -webkit-box-shadow: 0 0 3px -1px #000;
  -moz-box-shadow: 0 0 3px -1px #000;
  -ms-box-shadow: 0 0 3px -1px #000;
  -o-box-shadow: 0 0 3px -1px #000;
  margin: 130px auto 0px;
  padding: 35px;
  width: 350px;
  height: 362px;
}

.login .login-box h2 {
	font-size: 25px;
	text-align: center;
}

.login .login-box p {
	font-size: 16px;
	text-align: center;
	margin-top: 40px;
}

.login .login-box .btn-loginfb {
	background: url(../img/fb-login.png) no-repeat;
	width: 212px;
	height: 68px;
	display: block;
	overflow: hidden;
	text-indent: -999em;
	margin: 55px auto 0;
}

.login .login-box .saiba-mais {
	font-size: 16px;
	color: #f39f35;
	text-align: right;
	display: block;
	margin-top: 70px;
}


/* ----------------------------- */
/* HOME */
/* ----------------------------- */
.home {
	width: 640px;
	height: 1008px;
	margin: 0 auto;
}

.home .minibar {
	height: 70px;
	background: #666;
	position: relative;
	background: #fff;
	border-bottom: 5px solid #f39f35;
}

.home .minibar .minibar-logo {
	display: inline-block;
	width: 140px;
	height: 53px;
	margin-left: 50px;
	margin-top: 9px;
}

.home .minibar .btn-sidebar {
	width: 77px;
	height: 70px;
	background: url(../img/btn-sidemenu.jpg) no-repeat;
	position: absolute;
	top: 0px;
	right: 0px;
}


/* SideBar */
.home .minibar .sidebar {
	width: 384px;
	border-left: 1px solid #000;
	background: #e5e5e5;
	position: absolute;
	height: 1008px;
	right: 0px;
	top: 0px;
	display: none;
}

.home .minibar .sidebar .foto {
	display: block;
	width: 200px;
	height: 200px;
	margin: 50px auto 0;
}

.home .minibar .sidebar .foto .foto-mask {
	display: block;
	width: 200px;
	height: 200px;
	background: url(../img/mascara-foto-perfil.png) no-repeat;
}

.home .minibar .sidebar .nome {
	font-size: 25px;
	text-align: center;
	margin-top: 22px;
	margin-bottom: 5px;
}

.home .minibar .sidebar .email {
	font-size: 16px;
	text-align: center;
}

.home .minibar .sidebar ul {
	margin-top: 22px;
}


.home .minibar .sidebar ul .itens-menu {
	display: block;
	background: #333;
	font-size: 18px;
	border-top: 1px solid #cccccc;
}

.home .minibar .sidebar ul .itens-menu a {
	color: #ccc;
	text-decoration: none;
	padding: 20px 0px 20px 64px;
	display: block;
}

	.home .minibar .sidebar ul .sair {
		background: url(../img/sair-icon.png) 34px 17px no-repeat #333;
	}
	.home .minibar .sidebar ul .sair a {
		color: #a3a3a3;
	}
	

.home .minibar .sideout {
	display: block;
	height: 1008px;
	width: 255px;
	position: absolute;
	top: 0px;
	left: 0px;	
	display: none;
}


/* Minhas Historias */
.home .minhashistorias {
	clear: both;
	display: table;
}

.home .minhashistorias .historia-thumb {
	width: 150px;
	height: 150px;
	display: inline-block;
	float: left;
}

.home .minhashistorias .historia-thumb .historia-link {
	display: block;
	height: 100%;
	background: #bbb;
}
